# example 4200
PORT=

# example 10
HASH_SALT=

# example postgres
DB_USER=
# example 123456
DB_PASSWORD=
# example task_manager
DB_NAME=
# example 127.0.0.1
DB_HOST=127.0.0.1
# example 5432
DB_PORT=5432

# example postgresql://postgres:123456@localhost:5432/task_manager?sslmode=disable
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?sslmode=disable
