# example 4200
PORT=
# example 10
HASH_SALT=

# example postgres - for docker project start
DB_USER=
# example 123456 - for docker project start
DB_PASSWORD=
# example task_manager - for docker project start
DB_NAME=
# example 5433 - for docker project start
DB_PORT=
# example for docker project start: postgresql://postgres:123456@postgres:5432/task_manager?sslmode=disable
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@postgres:5432/DB_NAME?sslmode=disable

# example for local project start: postgresql://postgres:123456@localhost:5432/task_manager?sslmode=disable
# DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@localhost:DB_PORT/DB_NAME?sslmode=disable
