# example: 4200
PORT=
# example: 10
HASH_SALT=

# example: postgres - project start with Docker
DB_USER=
# example: 123456 - project start with Docker
DB_PASSWORD=
# example: task_manager - project start with Docker
DB_NAME=
# example: 5433 - project start with Docker
DB_PORT=
# example: project start with Docker : postgresql://postgres:123456@postgres:5432/task_manager?sslmode=disable
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/DB_NAME?sslmode=disable

# example for local project start: postgresql://postgres:123456@localhost:5432/task_manager?sslmode=disable
# DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@localhost:DB_PORT/DB_NAME?sslmode=disable


# example: secret-access
JWT_ACCESS_SECRET=
# example: secret-refresh
JWT_REFRESH_SECRET=
# example: 15m
JWT_ACCESS_EXPIRES_IN=
# example: 7d
JWT_REFRESH_EXPIRES_IN=
